priority -25

snippet sec "commented out section" b
/* ${1:}
========================================================================== */
${2:}
endsnippet

snippet v "variable" w
var(--${1:})${2:}
endsnippet
